* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 1rem;
  margin-bottom: 0;
}

.max-width-wrapper {
  background-color: hsla(0, 0%, 100%, 1);
  padding-left: 24px;
  padding-right: 24px;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: hsla(0, 0%, 60%, 1) solid 8px;
  font-size: 1.25rem;
  line-height: 1.5;
}
/*#region header*/
.intro-chunk {
  max-width: 415px;
  padding-bottom: 64px;
}

.intro-chunk strong {
  color: hsla(160, 100%, 30%, 1)
}

.title {
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 96px;
  margin-bottom: 48px;
}

/*#endregion*/
/*#region main*/
main {
  background-color: hsla(0, 0%, 40%, 1);
  padding-bottom: 64px;
  padding-top: 64px;
}

.card {
  padding-top: 8px;
  padding-bottom: 24px;
}

.indented-heading {
  box-sizing: border-box;
  width: fit-content;
  background-color: hsla(45, 100%, 50%, 1);
  margin-left: -32px;
  margin-top: 0;
  margin-bottom: 16px;
  padding: 8px 32px;
  border-bottom: hsla(45, 100%, 40%, 1) solid 8px;
  font-size: 1.5rem;
  line-height: 1.2;
}
/*#endregion*/
